<section class="send-transaction">
    <h2 class="section-heading">Send transaction</h2>
    <form [formGroup]="sendTransactionForm" (submit)="sendTransaction()">
        <label for="wallet-send-name">Wallet Name</label>
        <input id="wallet-send-name" type="text" formControlName="walletSendName" />
        <label for="wallet-send-address">Wallet address</label>
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle formControlName="walletSendAddress">
                {{ selected_address }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                @for (address of address_list; track $index){
                    <button ngbDropdownItem (click)="selectAddress($event)" type="button">{{ address }}</button>
                }
            </div>
        </div>
        <label for="send-transaction-amount">Amount</label>
        <input id="send-transaction-amount" type="text" formControlName="sendTransactionAmount" />
        <div id="sendValidationError">{{ validation_message }}</div>
        <div id="sendAmountPresets"><ul><li id="sendMax">Max: <span (click)="populateAmount({'percentage': 1})">{{ sendMax }}</span></li><li id="send75">75%: <span (click)="populateAmount({'percentage': 0.75})" >{{ send75 }}</span></li><li id="send50">50%: <span (click)="populateAmount({'percentage': 0.5})">{{ send50 }}</span></li><li id="send25">25%: <span (click)="populateAmount({'percentage': 0.25})">{{ send25 }}</span></li></ul></div>
        <button type="submit" class="primary">Send</button>
    </form>
</section>