<app-new-wallet></app-new-wallet>

<div>
    <h1>Wallet list</h1>
    <table>
        <thead>
            <tr>
                <th>Coin</th>
                <th *ngFor="let wallet of wallet_service.wallet_list"><a [routerLink]="['/details', wallet.id]">{{ wallet.name }}</a></th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let coin of all_coins | keyvalue">
                <td>{{ coin.value.readable}}</td>
                <td *ngFor="let wallet of wallet_service.wallet_list">{{ wallet_balances[wallet.name]?.get(coin.value.name)['amount'] }}</td>
            </tr>

        </tbody>
    </table>
</div>
