<!-- <section>
    <form>
        <input type="text" placeholder="Filter by city" #filter>
        <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
    </form>
</section> -->

<app-new-wallet></app-new-wallet>

<div>
    <h1>Wallet list</h1>
    <table>
        <thead>
            <tr>
                <th>Coin</th>
                <th *ngFor="let wallet of walletList">{{ wallet.name }}</th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let coin of allCoins | keyvalue">
                <td>{{ coin.value.readable}}</td>
                <td *ngFor="let wallet of walletList">{{ walletBalances[wallet.name]?.get(coin.value.name)['amount'] }}</td>
                <!-- <td *ngFor="let wallet of walletList">{{ walletBalances[wallet.name]?.get(coin.value)['amount'] }}</td> -->

            </tr>

        </tbody>
    </table>
</div>

<!-- <li *ngFor="let coin of allCoins | keyvalue">{{coin.value.readable}}</li> -->

<!-- <section class="results">
    <app-wallet-item *ngFor="let wallet of walletList" [wallet]="wallet"></app-wallet-item>
</section> -->

