<a [routerLink]="['/']">Home</a>
<h2>Existing addresses</h2>
<ul>
    @for (address of address_service.address_list; track address.id){
        <li>{{ address.name }} - {{ address.address }}</li>   
    }
    @empty {
        <li>No items found</li>
    }
</ul>
<section class="new-wallet">
    <h2 class="section-heading">Add a new address</h2>
    <form [formGroup]="newAddressForm" (submit)="newAddress()">
        <label for="address-name">Address Name</label>
        <input id="address-name" type="text" formControlName="addressName" />
        <label for="address">Address</label>
        <input id="address" type="text" formControlName="address" />
        
        <button type="submit" class="primary">Add address</button>
    </form>
</section>